APP_ENV=production
DEBUG=False
SECRET_KEY=ganti-dengan-secret-random-yang-panjang-dan-aman
ALLOWED_HOSTS=quiz.example.com
CSRF_TRUSTED_ORIGINS=https://quiz.example.com
SITE_ID=1
SITE_DOMAIN=quiz.example.com
SITE_NAME=BelajarUji
ACCOUNT_DEFAULT_HTTP_PROTOCOL=https

DATABASE_URL=postgres://quiz_user:ganti-password@127.0.0.1:5432/quiz

USE_PROXY_SSL_HEADER=True
USE_X_FORWARDED_HOST=True
USE_X_FORWARDED_PORT=True
SECURE_SSL_REDIRECT=True
SECURE_REDIRECT_EXEMPT=healthz
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=True
SECURE_HSTS_PRELOAD=True

LOG_LEVEL=INFO
DJANGO_LOG_LEVEL=INFO

GUNICORN_HOST=127.0.0.1
GUNICORN_PORT=8001
GUNICORN_WORKERS=3
GUNICORN_TIMEOUT=60
